[submodule "bundle/wombat256mod"]
	path = bundle/wombat256mod
	url = git://github.com/michalbachowski/vim-wombat256mod
[submodule "bundle/glsl"]
	path = bundle/glsl
	url = git://github.com/vim-scripts/glsl.vim
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic
[submodule "bundle/ycm"]
	path = bundle/ycm
	url = git://github.com/Valloric/YouCompleteMe
[submodule "bundle/indent_guides"]
	path = bundle/indent_guides
	url = git://github.com/Valloric/vim-indent-guides
[submodule "bundle/operator_highlight"]
	path = bundle/operator_highlight
	url = git://github.com/Valloric/vim-operator-highlight
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/addon_mw_utils"]
	path = bundle/addon_mw_utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
